/******************************************NEW _ PROFILE _ PAGE ********************************/
#profile_pic{
    height:6rem;
    width:6rem;
    border-radius: 50%;
    box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15);
    margin-top: 5px;
}
#profile_card{
	margin-right: auto;
	margin-left: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    max-width: 800px;
}
#test_row{
	text-align: left;	padding-left:30px; margin-bottom: 3px;
}

@media screen and (max-width: 994px) {
	#profile_card{
		max-width: auto;
        min-width: auto;
        text-align: center;
	}
    #test_row{
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
    }
    #user_name{
        margin-top: 5px;
    }
    .option_buttons{
        margin: 2px;
    }
}


#loading_icon {
    margin-top: 10%;  
    -webkit-animation: rotation 2s infinite linear;
    color: red;
    font-size: 1em;
    border-radius: 10%;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}