.card{
	transition: 0.5s;
	margin-top: 10px;
	overflow-y: auto;
	overflow-x: hidden;
	margin-right: auto; margin-left: auto;
}
.card:hover{
	border-radius: 10px;
}
.card-header{
	margin-top: 0px;
	color: red;
}

#generalCard{
	min-width: 300px;
	max-height: 900px;
	max-width: 500px;
	overflow-y: visible;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#singleVideoContainer{
	min-height: 550px;
	overflow-y: visible;
	margin-bottom: 10px;
	margin-top: 10px;
}

#singleCardProfilePic{
	height: 2rem;
	max-width:2rem;
	border-radius: 50%;
	box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15);
}
/**BLOCK_Quote_DESC**/
blockquote {
	background:white;
	/*border-left: 2px solid red;*/
	padding: 0.5em;
	background-color: white;
	box-shadow: 0px 2px red;
  }
  blockquote p {
	display: inline;
	color: black;
  }
#videoUserName{
	float: right;
	font-size: 15px;
}
#picCol{
	float: left;
	margin-top:5px;
}


/**************** New Column Settings for the social like buttons *************/
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

#social_button_box:hover{
	box-shadow: 0 1px 0px red;
}