.challengeCard {
    width: 300px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-bottom: 2px solid red;
}

#userPhoto {
    border-radius: 50%;
    height: 6rem;
    max-width: 6rem;
    margin-top: 0;
    margin-bottom: 3px;
    box-shadow: 8px 10px 20px 0px rgba(46, 61, 73, 0.15);
}

@media only screen and (max-width: 480px) {
    #photo_row {
        left: 2.5rem;
    }
}

#userName {
    margin-top: 3px;
    margin-bottom: -1px;
}

#videoName {
    margin-top: 0px;
}

#challenger_line {
    height: 35px;
    width: auto;
}

/***********ChallengePage CSS ***/

#challengerCard {
    max-width: 500px;
    min-width: 300px;
    height: auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: none;
}

#challengerVideo {
    height: 500px;
    width: 90%;
}

.infoSection {
    margin-top: 10px;
}

#voteRow {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

@media only screen and (max-width: 779px) {
    #voteRow {
        justify-content: center;
    }
    #voteCol {
        width: auto;
    }
}

.voteButton {
    cursor: pointer;
}

.voteButton:hover {
    padding: 3px;
    box-shadow: none !important;
    border: 2px solid red;
}

.voteButton:active {
    padding: 15px;
}