/*** Like + Challenge + Dislike Buttons **/
.supportButtons{
	color: black;
	font-size: 25px;
	transition: all 0.2s ease 0s;	
}
.supportButtons:hover{
	border-radius: 10%; 
	transition: all 0.2s ease 0s;
}
#button_icon:hover{
	color: red;
	transition: all 0.2s ease 0s;		
}
/********************************************************Upload Video Card***********************/
.challengeUploadCard{
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	max-height:700px;
	min-height:auto;
}
#dropZzone{
	height: 100px !important;
	width: 90% !important;
	border: 1px solid red !important;
}
#challengeDescription{
	max-height: 1000px;
	max-width: 100%;
}
#challengerPreviewVideo{
	max-height: 300px;
	min-height: 100px;
	width: 100%;
}